.incoming {
    box-sizing: border-box;
    position: relative;
    background: #1DA1F2;
    border-radius: 16px;
    padding: 5px 10px;
    width: 70%;
    margin-bottom: 20px;
}

.incoming.yellow {
    background: #ffff00;
}

.incoming.green {
    background: #09ca09;
}

.incoming.blue {
    background: #0000ff;
}

.incoming.red {
    background: #f53d3d;
}

.incoming.yellow:after {
    border-bottom: 10px solid #ffff00;

}

.incoming.green:after {
    border-bottom: 10px solid #09ca09;
}

.incoming.blue:after {
    border-bottom: 10px solid #0000ff;
}

.incoming.red:after {
    border-bottom: 10px solid #f53d3d;
}

.incoming:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -8px;
    border: 10px solid transparent;
    border-bottom: 10px solid #1da1f2;
    border-bottom-right-radius: 10px;
    transform: rotate(5deg);
}

.info {
    display: flex;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.avatar img {
    width: 110%;
}

.name a {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    text-decoration: none;
}

.time {
    font-size: 12px;
    margin-bottom: 10px;
}

.message {
    font-size: 16px;
    font-family: Arial;
}

@media screen and (max-width: 1151px) {
    .avatar {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 331px) {
    .name a {
        font-size: 16px;
    }
}
